{
  "plugins": [
      ["prismjs", {
        "languages": [
          "js",
          "json",
          "http",
          "css",
          "scss",
          "python",
          "django",
          "bash",
          "nginx",
          "docker",
          "yaml",
          "powershell",
        ],
      "plugins": [],
      "theme": "default",
      "css": false
    }]
  ]
}