@use "sass:string";
@use "vars" as v;

$transparent: rgba(0, 0, 0, 0);

@mixin fade($property, $to-colour, $from-colour: $transparent) {
  $keyframe-id: string.unique-id();  // generates random id

  @keyframes #{$keyframe-id} {
    from {#{$property}: $from-colour;}
    to {#{$property}: $to-colour;}
  }

  animation-name: $keyframe-id;
  animation-duration: v.$animation-duration;
  #{$property}: $to-colour;
}