@use "sass:map";


@mixin gen-css-vars($col) {
  $dark: map.get($col, "dark");
  $medium: map.get($col, "medium");
  $light: map.get($col, "light");
  $lightest: map.get($col, "lightest");
  $highlight: map.get($col, "highlight");
  $header-mobile: scale-color(map.get($col, "dark"), $lightness: +10%);

  --colour-dark: #{$dark};
  --colour-medium: #{$medium};
  --colour-light: #{$light};
  --colour-lightest: #{$lightest};
  --colour-highlight: #{$highlight};
  --colour-header-mobile: #{$header-mobile};
}

@mixin default {
  $col: (
    "dark": #333,
    "medium": #bbb,
    "light": #eee,
    "lightest": #fff,
    "highlight": fuchsia
  );
  @include gen-css-vars($col);
}

@mixin teal-fleece {
  $base: rgb(0, 55, 77);
  $col: (
    "dark": $base,
    "medium": desaturate(lighten($base, 60%), 70%),
    "light": desaturate(lighten($base, 80%), 50%),
    "lightest": #fff,
    "highlight": rgb(200, 0, 0)
  );
  @include gen-css-vars($col);
}

@mixin orange-brown {
  $base: rgb(0, 55, 77);
  $col: (
    "dark": rgb(41, 0, 0),
    "medium": desaturate(lighten(rgb(41, 0, 0), 60%), 70%),
    "light": rgba(41, 0, 0, 0.1),
    "lightest": #fff,
    "highlight": tomato
  );
  @include gen-css-vars($col);
}