$font-size: 14pt;
$font: Montserrat;
$font-p: sans-serif;
$font-colour: #000;
$padding: 24px;
$shadow-size: 3px;
$colour-dark: #333;
$colour-medium: #bbb;
$colour-light: #eee;
$colour-lightest: #fff;
$colour-highlight: fuchsia;
$body-width: 1680px;
$animation-duration: 333ms;
$border-radius: 24px;
$max-width: 1400px;
$tablet-min-width: 1000px;
$desktop-min-width: 1200px;
$fixed-header-padding: 8.0rem;

@mixin text-margin {
  margin-top: 1.6em;
}

@mixin shadow($size) {
  box-shadow: $size $size $size rgb(0, 0, 0, 0.4);
}