$font-size: 16pt;
$font: sans-serif;
$padding: 24px;
$shadow-size: 6px;
$colour-dark: #333;
$colour-medium: #bbb;
$colour-light: #eee;
$colour-highlight: fuchsia;
$body-width: 1680px;
$animation-duration: 0.33s;