@use "vars" as v;
@use "animation" as a;


.blog {
  // background-color: wheat;

  &-article {
    // background-color: #fff;

    &-date {
      opacity: 0.6;
    }

  }

  &-nav {
    ul {
      margin: v.$padding*1.5 0 v.$padding*3 v.$padding*2;
      list-style-position: inside;
      margin-left: v.$padding/2;
    }

    &-li {
      padding-bottom: v.$padding/2;
      line-height: 1.33em;
    }

    &-li a {
      text-decoration: none;
    }
  }
}


@media only screen and (min-width: v.$tablet-min-width) {

.blog {
  display: grid;
  grid-template-areas: "gArticle gArticle gNav";

  &-1 {
    grid-area: gArticle;
    padding-right: v.$padding;
  }

  &-2 {
    grid-area: gNav;
    padding-left: v.$padding;
  }
}

} // @media
