@use "vars" as v;
@use "animation" as a;


.header {
  background-color: #333;
  // opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  &-title {
    padding: v.$padding;

    h1 {
      margin: 0;
      color: v.$colour-lightest;
    }
  }

  &-nav-ul {
    list-style: none;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  &-nav-li-button {
    background-color: #555;
    width: 100vw;
    padding: 0.8em;

    &:hover {
      @include a.fade(background-color, #555, v.$colour-highlight)
    }

    i {
      display: none;
    }

    p {
      margin: 0;
      font-size: 1.4em;
      text-align: center;
      color: v.$colour-lightest;
    }
  }
}