@use "vars" as v;
@use "animation" as a;
@use "themes" as t;


.theme {
  &-default {
    @include t.default;
  }

  &-teal-fleece {
    @include t.teal-fleece;
  }

  &-orange-brown {
    @include t.orange-brown;
  }
}

html {
  font-size: v.$font-size;
  font-family: v.$font;

  h1,
  h2,
  h3 {
    font-weight: bold;
  }

  p,
  h1,
  h2,
  h3 {
    color: v.$font-colour;
    @include v.text-margin;
  }

  p {
    font-family: v.$font-p;
    line-height: 1.6em;
  }

  h1 {
    font-size: 2.0em;
    margin-top: 0;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.4em;
  }

  a {
    color: var(--colour-highlight);

    &:hover {
      @include a.fade(background-color, var(--colour-dark));
    }
  }

  strong {
    font-weight: bold;
    background-color: var(--colour-dark);
    color: var(--colour-lightest);
  }

  em {
    font-style: italic;
  }

  ol,
  ul {
    margin: (v.$padding * 2) 0 (v.$padding * 2) (v.$padding * 3);
    list-style-position: outside;
    font-family: v.$font-p;
    color: v.$font-colour;
  }

  ol {
    list-style-type: normal;
  }

  ul {
    list-style-type: square;
  }

  hr {
    $colour: rgba(#{var(--colour-dark)}, 0.2);
    display: block;
    margin-top: 2rem;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    color: $colour;
  }
}

.body-container {
  background-color: var(--colour-light);
}

.main-container {
  margin: 0 v.$padding;
  background-image: url("../static/bg-squares.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.footer {
  padding: v.$padding 0;
  background-color: var(--colour-lightest);

  p {
    text-align: center;
    color: v.$font-colour;
    margin: 0;
  }
}


@media only screen and (min-width: v.$tablet-min-width) {

.body-container {
  max-width: v.$max-width;
  margin: 0 auto;
}

.main-container {
  margin: 0 (v.$padding * 2);
  padding-top: v.$fixed-header-padding + 2rem;
}

} // @media


@media only screen and (min-width: v.$desktop-min-width) {

.main-container {
  margin: 0 (v.$padding * 4);
  padding-top: v.$fixed-header-padding + 2rem;
}

} // @media