@use "vars" as v;
@use "animation" as a;


html {
  font-size: v.$font-size;
  font-family: v.$font;

  h1,
  h2,
  h3 {
    font-weight: bold;
  }

  p,
  h1,
  h2,
  h3 {
    color: v.$font-colour;
    @include v.text-margin;
  }

  p {
    font-family: v.$font-p;
    line-height: 1.6em;
  }

  h1 {
    font-size: 2.0em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.4em;
  }

  a {
    color: v.$colour-highlight;

    &:hover {
      @include a.fade(background-color, v.$colour-light, v.$colour-dark);
    }
  }

  strong {
    font-weight: bold;
    background-color: v.$colour-dark;
    color: v.$colour-lightest;
  }

  em {
    font-style: italic;
  }

  ol,
  ul {
    margin: (v.$padding * 2) 0 (v.$padding * 2) (v.$padding * 3);
    list-style-position: outside;
    font-family: v.$font-p;
    color: v.$font-colour;
  }

  ol {
    list-style-type: normal;
  }

  ul {
    list-style-type: square;
  }
}

.body-container {
  background-color: v.$colour-light;
}

.main-container article {
  margin: 0 v.$padding;
}

.footer {
  padding: v.$padding 0;
  background-color: v.$colour-lightest;

  p {
    text-align: center;
    color: v.$colour-dark;
    margin: 0;
  }
}


@media only screen and (min-width: v.$desktop-min-width) {

.body-container {
  max-width: v.$max-width;
  margin: 0 auto;
}

.main-container article {
  margin: 0 (v.$padding * 4);
}

} // @media