@use "vars" as v;
@use "animation" as a;


body {
  font-family: v.$font;
  font-size: v.$font-size;
}

footer {
  text-align: center;
  margin: (v.$padding / 2) 0;
}

.body-container {
  max-width: v.$body-width;
  margin: 0 auto;
  background-color: v.$colour-light;
}

.main-container {
  padding: (v.$padding * 5) (v.$padding * 4) v.$padding;

  h1,
  h2,
  h3 {
    margin: 2.0em 0 1.0em;
    font-weight: bold;
  }

  p {
    margin-bottom: 2.0em;
  }

  h1 {
    font-size: 2.0em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.4em;
  }

  a {
    color: v.$colour-highlight;

    &:hover {
      @include a.fade(background-color, v.$colour-light, v.$colour-dark);
    }
  }

  strong {
    font-weight: bold;
    background-color: v.$colour-dark;
    color: v.$colour-lightest;
  }

  em {
    font-style: italic;
  }

  ol,
  ul {
    margin: (v.$padding * 2) (v.$padding * 3);
    list-style-position: outside;
  }

  ol {
    list-style-type: normal;
  }

  ul {
    list-style-type: square;
  }
}